:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #0e2818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: greenyellow;
  text-decoration: inherit;
}

a:hover {
  color: greenyellow;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

input:focus,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.57);
  outline: none;
}

button {
  border-radius: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
